.app.dark {
  --bg-color: #081e58;
  --inverted-bg-color: #eff1f7;

  --primary-color: #9dadda;
  --secondary-color: #54575f;
  --inverted-primary-color: #0537be;
  --inverted-secondary-color: #4a6ac4;
}