.app.default {
  --bg-color: #eff1f7;
  --inverted-bg-color: #081e58;
  --primary-color: #0537be;
  --secondary-color: #4a6ac4;
  --inverted-primary-color: #9dadda;
  --inverted-secondary-color: #54575f;
}

